* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Arial', Helvetica, sans-serif;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  float: right;
  margin: 30px 50px;
  margin-left: 100px;
}

.main-nav h2 {
  color :#606060;
}

.main-nav li {
  margin-top: 30px;
  margin-right: 50px;
}

.main-nav .logo {
  float: left;
  font-size: 25px;
  margin-top: 20px
}

.logo span {
  color: #7B7BFF;
  font-size: 70px;
  position: absolute;
  top: 15px;
}

main {
  clear: both;
  padding-top: 150px;
  color :#606060;
  padding-left: 100px;
}

.btn-how-it-works {
  border-radius: 30px;
  border-style: none;
  background-color: inherit;
  padding: 10px 25px;
  border: 2px solid #7B7BFF;
  color: #606060;
  margin-top: 30px;
}

.btn-sign-up {
  border-radius: 30px;
  border-style: none;
  background-color: #7B7BFF;
  padding: 10px 25px;
  color: white;
  font-family: inherit;
  font-size: inherit;
}

.btn-explore {
  border-radius: 30px;
  border-style: none;
  background-color: white;
  padding: 10px 25px;
  color: #7B7BFF;
  font-family: inherit;
  font-size: inherit;
  margin-top: 50px;
  margin-left: 270px;
  font-weight: 600;
}

.funnels {
  padding: 200px;
}

.funnels h1 {
  text-align: center;
  font-size: 35px;
}

.funnels ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 70px;
  text-align: center;
}

.funnels li h2 {
  font-size: 40px;
}

.funnels li p {
  font-size: 20px;
  padding-top: 20px;
}

.services-headline {
  float: left;
  width: 50%;
  height: 500px;
  color: #7B7BFF;
  padding-left: 150px;
  padding-top: 100px;
}

.services-headline h2 {
  font-size: 100px;
}

.services-list {
  float: right;
  background-color: #7B7BFF;
  width: 50%;
  height: 500px;
  margin-bottom: 300px;
}

.services-list ul {
  color: white;
  font-size: 22px;
  margin-left: 150px;
  padding-top: 80px;
}

.services-list li {
  padding: 10px
}
