* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 70%;
  margin-left: 500px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  float: right;
  margin: 30px 50px;
  margin-left: 100px;
}

.main-nav h2 {
  color: #606060;
  font-weight: 300;
  font-size: 20px;
}

.main-nav li {
  margin-top: 30px;
  margin-right: 50px;
}

.main-nav .logo {
  float: left;
}

.logo h2 {
  font-weight: 600;
  font-size: 30px;
  margin-top: -5px;
}

.logo span {
  color: #7b7bff;
  font-size: 50px;
  position: absolute;
  top: 33px;
}

main {
  clear: both;
  padding-top: 150px;
  color: #606060;
  padding-left: 100px;
}

.btn-how-it-works {
  border-radius: 30px;
  border-style: none;
  background-color: inherit;
  padding: 10px 25px;
  border: 2px solid #7b7bff;
  color: #606060;
  margin-top: 30px;
}

.btn-how-it-works h2 {
  font-weight: 300;
}

.btn-sign-up {
  border-radius: 30px;
  border-style: none;
  background-color: #7b7bff;
  padding: 10px 25px;
  color: white;
  font-family: inherit;
  font-size: inherit;
}

.btn-explore {
  border-radius: 30px;
  border-style: none;
  background-color: white;
  padding: 10px 25px;
  color: #7b7bff;
  font-family: inherit;
  font-size: inherit;
  margin-top: 50px;
  margin-left: 270px;
}

.btn-explore h2 {
  font-size: 20px;
}

.funnels {
  padding: 100px;
}

.funnels h1 {
  text-align: center;
  font-size: 35px;
}

.funnels ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 70px;
  text-align: center;
}

.funnels li h2 {
  font-size: 70px;
}

.funnels li p {
  font-size: 20px;
  padding-top: 20px;
}

.services-headline {
  float: left;
  width: 50%;
  height: 500px;
  color: #7b7bff;
  padding-left: 150px;
  padding-top: 30px;
}

.services-headline h2 {
  font-size: 100px;
}

.services-list {
  float: right;
  background-color: #7b7bff;
  width: 50%;
  height: 500px;
  margin-bottom: 300px;
}

.services-list ul {
  color: white;
  font-size: 22px;
  margin-left: 150px;
  padding-top: 80px;
}

.services-list li {
  padding: 10px;
}

.Container {
  width: 100%;
  height: 300px;
}
.Container .left-panel {
  width: 50%;
  float: left;
  padding-left: 10px;
}
.Container .right-panel {
  width: 50%;
  float: right;
  text-align: right;
  padding-right: 70px;
}
.Container .right-panel img {
  width: 300px;
  height: 300px;
}

.imageContainer {
  text-align: center;
  padding-bottom: 100px;
}
